<div>
  <%= simple_form_for(@entry, remote: true, :html => {:class => 'form-vertical' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.label :distance %> <br/>      
      <%= f.input_field :distance, hint: "km / mile" %>
      <%= f.input_field :distance_type, 
                        collection: Entry::D_Type.map{|k,v| [v,k]}, 
                        include_blank: false%>
      <br/>
      <br/>
      
      <%= f.input :time_period, hint: "In Minutes" %>      
      <%= f.input :date_time, input_html: { id: 'datetimepicker' } %> 
    </div>

    <br/>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>      
      <%= button_to_function "Search", "swap_searches('insert')", class: "btn search-btn" %>
    </div>
  <% end %>  
</div>






  