<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Edit Entry</h4>
  </div>
  <div class="modal-body">
    <div>
      <%= simple_form_for(@entry, remote: true, :method => :put,:html => {:class => 'form-vertical' }) do |f| %>

        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.label :distance %> <br/>      
          <%= f.input_field :distance, hint: "km / mile",
                            id: 'distance-update'   %>
          <%= f.input_field :distance_type, 
                            collection: Entry::D_Type.map{|k,v| [v,k]}, 
                            include_blank: false%>
          <br/>
          <br/>
          
          <%= f.input_field :time_period, hint: "In Minutes", 
                      id: 'timeperiod-update'  %>      
          <%= f.input :date_time, input_html: { id: 'datetimepicker-update' } %> 
        </div>

        <br/>
        <div class="form-actions">
          <%= f.button :submit, id: 'update_entry' %>
        </div>
      <% end %>  
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
  </div>
</div>
</div>

<script type="text/javascript">
  $('#datetimepicker-update').datetimepicker();
</script>
