
<div class="text-center">
  <p><%= page_entries_info @entries %></p>
  <%= paginate @entries %>
</div>

<div class="well">
  <div id="entry-form">
    <%= render 'form' %>    
  </div>  
</div>

<div id="errors"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">Loading...</div>


<hr>


<table class="table table-striped" id="myTable">
  
    <tr>
      <th>Distance</th>
      <th>Time period</th>
      <th>Date time</th>
      <th>Avg Speed</th>
      <th>Created at</th>      
      <th>Updated at</th>
      <th></th>
    </tr>

    <%= render @entries %> 
  
</table>

<br>

<div class="text-center">
  <p><%= page_entries_info @entries %></p>
  <%= paginate @entries %>
</div>