
<div class="text-center">
  <p><%= page_entries_info @entries %></p>
  <%= paginate @entries %>
</div>

<div class="well">
  <div id="entry-form">
    <%= render 'form' %>    
  </div>  
</div>

<div id="errors"></div>

<hr>

<table class="table table-striped" id="myTable">
  
    <tr>
      <th>Distance</th>
      <th>Time period</th>
      <th>Date time</th>
      <th>Avg Speed</th>
      <th>Created at</th>      
      <th></th>
    </tr>

    <%= render @entries %> 
  
</table>

<br>

<div class="text-center">
  <p><%= page_entries_info @entries %></p>
  <%= paginate @entries %>
</div>