<h3>Statistics</h3>
<br/>

<table class="table table-striped">
  
    <tr>
      <th>Week #</th>
      <th>From</th>
      <th>To</th>
      <th>Count</th>
      <th>Avg Distance <small>(Km)</small></th>            
      <th>Avg Speed <small>(Km/H)</small></th>            
    </tr>

    <% @user.weekly_entries do |week, entries| %>
	    <tr>
	      <td><%= week %></td>
	      <td><%= weeks_to_date_from(week) %></td>
	      <td><%= weeks_to_date_to(week) %></td>
	      <td><%= entries.count %></td>
	      <td><%= avg_distance(entries) %></td>
	      <td><%= avg_speed(entries) %></td>
	    </tr>
    <% end %>

  
</table>