
<%= form_tag({controller: "search", action: "create"}, 
			 method: 'post', html: {role: "form"},
			 remote: true, id: 'search_form') do %>
  <p>
  	<%= label_tag("From: ") %>
  	<%= text_field_tag :date_from, params[:date_from], id: 'datetimepicker1' %>
  </p>

  <p>
  	<%= label_tag("To: ") %>
  	<%= text_field_tag :date_to, params[:date_to], id: 'datetimepicker2'  %>
  </p>

  <p>    
    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>    
    <% if current_page?(root_path) %>
      <%= button_to_function "Add Entry", "swap_searches('search')", class: "btn search-btn" %>      
    <% end %>    
  </p>

<% end %>